@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$white: white;
$black: black;
$bg: #22242a;
$box: #363941;
$score: #1777ff;

$desktop: 1280px;
$mobile: 767px;

$grid-small: 768px;
$grid-medium: 992px;
$grid-large: 1200px;

$fontfamily: 'Roboto', sans-serif;